<nav>
    <div>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="navbar-right">
        <ul>
            <li><a routerLink="/admin">Admin</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Signup</a></li>
        </ul>
    </div>
</nav>


<form action="">
    <!-- numeric input with label id -->
    <div class="form-group">
        <label for="id">Id</label>
        <input type="number" class="form-control" id="id" placeholder="Enter id" name="id">
    </div>

    <!-- text input with label name -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
    </div>

    <!-- submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
